--
-- PostgreSQL database dump
--

-- Dumped from database version 17.4
-- Dumped by pg_dump version 17.4

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: academias; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.academias (
    id integer NOT NULL,
    nome character varying(255) NOT NULL,
    telefone character varying(255) NOT NULL,
    contexto text NOT NULL,
    senha character varying(255) NOT NULL
);


ALTER TABLE public.academias OWNER TO postgres;

--
-- Name: academias_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.academias_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.academias_id_seq OWNER TO postgres;

--
-- Name: academias_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.academias_id_seq OWNED BY public.academias.id;


--
-- Name: estabelecimentos; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.estabelecimentos (
    id integer NOT NULL,
    nome text NOT NULL,
    ramo_atividade text,
    contexto text,
    telefone character varying(20) NOT NULL,
    email character varying(255),
    plano character varying(20) DEFAULT 'B┬ásico'::character varying NOT NULL
);


ALTER TABLE public.estabelecimentos OWNER TO postgres;

--
-- Name: estabelecimentos_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.estabelecimentos_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.estabelecimentos_id_seq OWNER TO postgres;

--
-- Name: estabelecimentos_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.estabelecimentos_id_seq OWNED BY public.estabelecimentos.id;


--
-- Name: knex_migrations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.knex_migrations (
    id integer NOT NULL,
    name character varying(255),
    batch integer,
    migration_time timestamp with time zone
);


ALTER TABLE public.knex_migrations OWNER TO postgres;

--
-- Name: knex_migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.knex_migrations_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.knex_migrations_id_seq OWNER TO postgres;

--
-- Name: knex_migrations_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.knex_migrations_id_seq OWNED BY public.knex_migrations.id;


--
-- Name: knex_migrations_lock; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.knex_migrations_lock (
    index integer NOT NULL,
    is_locked integer
);


ALTER TABLE public.knex_migrations_lock OWNER TO postgres;

--
-- Name: knex_migrations_lock_index_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.knex_migrations_lock_index_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.knex_migrations_lock_index_seq OWNER TO postgres;

--
-- Name: knex_migrations_lock_index_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.knex_migrations_lock_index_seq OWNED BY public.knex_migrations_lock.index;


--
-- Name: limites_mensais; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.limites_mensais (
    id integer NOT NULL,
    estabelecimento_id integer,
    ano_mes character varying(7) NOT NULL,
    mensagens_utilizadas integer DEFAULT 0
);


ALTER TABLE public.limites_mensais OWNER TO postgres;

--
-- Name: limites_mensais_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.limites_mensais_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.limites_mensais_id_seq OWNER TO postgres;

--
-- Name: limites_mensais_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.limites_mensais_id_seq OWNED BY public.limites_mensais.id;


--
-- Name: log_mensagens; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.log_mensagens (
    id integer NOT NULL,
    estabelecimento_id integer NOT NULL,
    ano_mes character varying(6) NOT NULL,
    sequencia integer NOT NULL,
    data_hora timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.log_mensagens OWNER TO postgres;

--
-- Name: log_mensagens_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.log_mensagens_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.log_mensagens_id_seq OWNER TO postgres;

--
-- Name: log_mensagens_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.log_mensagens_id_seq OWNED BY public.log_mensagens.id;


--
-- Name: telefones_estabelecimentos; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.telefones_estabelecimentos (
    estabelecimento_id integer NOT NULL,
    telefone text NOT NULL
);


ALTER TABLE public.telefones_estabelecimentos OWNER TO postgres;

--
-- Name: academias id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.academias ALTER COLUMN id SET DEFAULT nextval('public.academias_id_seq'::regclass);


--
-- Name: estabelecimentos id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.estabelecimentos ALTER COLUMN id SET DEFAULT nextval('public.estabelecimentos_id_seq'::regclass);


--
-- Name: knex_migrations id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.knex_migrations ALTER COLUMN id SET DEFAULT nextval('public.knex_migrations_id_seq'::regclass);


--
-- Name: knex_migrations_lock index; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.knex_migrations_lock ALTER COLUMN index SET DEFAULT nextval('public.knex_migrations_lock_index_seq'::regclass);


--
-- Name: limites_mensais id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.limites_mensais ALTER COLUMN id SET DEFAULT nextval('public.limites_mensais_id_seq'::regclass);


--
-- Name: log_mensagens id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.log_mensagens ALTER COLUMN id SET DEFAULT nextval('public.log_mensagens_id_seq'::regclass);


--
-- Data for Name: academias; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: estabelecimentos; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: knex_migrations; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.knex_migrations (id, name, batch, migration_time) FROM stdin;
1	20250713130341_create_academias.js	1	2025-07-13 10:08:59.82-03
2	20250716013402_create_initial_tables.js	2	2025-07-15 22:38:37.261-03
\.


--
-- Data for Name: knex_migrations_lock; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.knex_migrations_lock (index, is_locked) FROM stdin;
1	0
\.


--
-- Data for Name: limites_mensais; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.limites_mensais (id, estabelecimento_id, ano_mes, mensagens_utilizadas) FROM stdin;
1	16	202508	5
\.


--
-- Data for Name: log_mensagens; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.log_mensagens (id, estabelecimento_id, ano_mes, sequencia, data_hora) FROM stdin;
1	16	202508	1	2025-08-13 20:41:11.601
2	16	202508	2	2025-08-13 20:43:36.449
3	16	202508	3	2025-08-13 21:56:41.902
4	16	202508	4	2025-08-13 21:57:14.522
5	16	202508	5	2025-08-13 21:57:41.695
\.


--
-- Data for Name: telefones_estabelecimentos; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.telefones_estabelecimentos (estabelecimento_id, telefone) FROM stdin;
\.


--
-- Name: academias_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.academias_id_seq', 2, true);


--
-- Name: estabelecimentos_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.estabelecimentos_id_seq', 29, true);


--
-- Name: knex_migrations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.knex_migrations_id_seq', 2, true);


--
-- Name: knex_migrations_lock_index_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.knex_migrations_lock_index_seq', 1, true);


--
-- Name: limites_mensais_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.limites_mensais_id_seq', 1, true);


--
-- Name: log_mensagens_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.log_mensagens_id_seq', 5, true);


--
-- Name: academias academias_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.academias
    ADD CONSTRAINT academias_pkey PRIMARY KEY (id);


--
-- Name: academias academias_telefone_unique; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.academias
    ADD CONSTRAINT academias_telefone_unique UNIQUE (telefone);


--
-- Name: estabelecimentos estabelecimentos_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.estabelecimentos
    ADD CONSTRAINT estabelecimentos_pkey PRIMARY KEY (id);


--
-- Name: knex_migrations_lock knex_migrations_lock_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.knex_migrations_lock
    ADD CONSTRAINT knex_migrations_lock_pkey PRIMARY KEY (index);


--
-- Name: knex_migrations knex_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.knex_migrations
    ADD CONSTRAINT knex_migrations_pkey PRIMARY KEY (id);


--
-- Name: limites_mensais limites_mensais_estabelecimento_id_ano_mes_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.limites_mensais
    ADD CONSTRAINT limites_mensais_estabelecimento_id_ano_mes_key UNIQUE (estabelecimento_id, ano_mes);


--
-- Name: limites_mensais limites_mensais_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.limites_mensais
    ADD CONSTRAINT limites_mensais_pkey PRIMARY KEY (id);


--
-- Name: log_mensagens log_mensagens_estabelecimento_id_ano_mes_sequencia_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.log_mensagens
    ADD CONSTRAINT log_mensagens_estabelecimento_id_ano_mes_sequencia_key UNIQUE (estabelecimento_id, ano_mes, sequencia);


--
-- Name: log_mensagens log_mensagens_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.log_mensagens
    ADD CONSTRAINT log_mensagens_pkey PRIMARY KEY (id);


--
-- Name: telefones_estabelecimentos telefones_estabelecimentos_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.telefones_estabelecimentos
    ADD CONSTRAINT telefones_estabelecimentos_pkey PRIMARY KEY (estabelecimento_id);


--
-- Name: telefones_estabelecimentos telefones_estabelecimentos_telefone_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.telefones_estabelecimentos
    ADD CONSTRAINT telefones_estabelecimentos_telefone_key UNIQUE (telefone);


--
-- Name: estabelecimentos unique_email; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.estabelecimentos
    ADD CONSTRAINT unique_email UNIQUE (email);


--
-- Name: estabelecimentos unique_telefone; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.estabelecimentos
    ADD CONSTRAINT unique_telefone UNIQUE (telefone);


--
-- Name: limites_mensais limites_mensais_estabelecimento_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.limites_mensais
    ADD CONSTRAINT limites_mensais_estabelecimento_id_fkey FOREIGN KEY (estabelecimento_id) REFERENCES public.estabelecimentos(id) ON DELETE CASCADE;


--
-- Name: log_mensagens log_mensagens_estabelecimento_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.log_mensagens
    ADD CONSTRAINT log_mensagens_estabelecimento_id_fkey FOREIGN KEY (estabelecimento_id) REFERENCES public.estabelecimentos(id) ON DELETE CASCADE;


--
-- Name: telefones_estabelecimentos telefones_estabelecimentos_estabelecimento_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.telefones_estabelecimentos
    ADD CONSTRAINT telefones_estabelecimentos_estabelecimento_id_fkey FOREIGN KEY (estabelecimento_id) REFERENCES public.estabelecimentos(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

